.post-header {
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  background-color: #343a40;
}

.post-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.post-header > * {
  position: relative;
  z-index: 1;
}
