<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Login Admin</h2>

          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="mb-3">
              <!-- name -->
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="createAccountData.name"
                required minlength="3" #name="ngModel">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="createAccountData.email"
                required email #email="ngModel">
              <div class="text-danger" *ngIf="email.invalid && email.touched">
                Email inválido
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" name="password"
                [(ngModel)]="createAccountData.password" required minlength="8" #password="ngModel">
              <div class="text-danger" *ngIf="password.invalid && password.touched">
                Senha deve ter pelo menos 8 caracteres
              </div>
            </div>
            <p>Não possui conta? <a [routerLink]="['/login']">Crie agora</a></p>
            <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
